.acf-taxonomy-field .categorychecklist-holder { max-height: none; }

.acf-file-uploader img.acf-file-icon {
	max-height: 64px;
	max-width: 40px;
	min-height: 16px;
	min-width: 12px;
}

.repeater > table > tbody > tr.row > td.order.ui-sortable-handle {
	color: #000;
	text-shadow: #444 0 1px;
}

.repeater > table > tbody > tr.row:nth-child(odd) > td.order.ui-sortable-handle {
	background: rgba(255,107,11, 0.5);
}

.repeater > table > tbody > tr.row:nth-child(even) > td.order.ui-sortable-handle {
	background: rgba(0,45,98, 0.5);
}