

    <section class="es-site-masthead columns">

      <div class="row">
        <div class="es-site-masthead-title small-6 columns">
          <h2>Vive la experiencia</h2>
            <div class="row">
              <div class="small-8 columns">
                <h3 class="subheader">Todos los servicios al alcance de un click</h3>
              </div>
            </div>
          <a href="ov.html" class="button">Oficina Virtual</a>
        </div>
        <div class="small-1 columns"></div>
      </div>

      <div class="es-site-nav-bar-app-wrapper small-12 columns">
        <div class="row">
          <div class="es-site-nav-bar-app icon-bar six-up">
            <a href="ov.html" data-tooltip class="item has-tip tip-top" title="Pago de Factura">
              <img src="images/es-site-app-icon-pago-factura.png">
              <h5>Factura</h5>
            </a>
            <a data-tooltip class="item has-tip tip-top" title="Denuncias de Fraude">
              <img src="images/es-site-app-icon-fraude.png">
              <h5>Fraude</h5>
            </a>
            <a data-tooltip class="item has-tip tip-top" title="Calculo Subsidio">
              <img src="images/es-site-app-icon-calc-subsdio.png">
              <h5>Subsidio</h5>
            </a>
            <a data-tooltip class="item has-tip tip-top" title="Calculo Fianza">
              <img src="images/es-site-app-icon-calc-fianza.png">
              <h5>Fianza</h5>
            </a>
            <a data-tooltip class="item has-tip tip-top" title="Interrupciones Programadas">
              <img src="images/es-site-app-icon-interrupciones.png">
              <h5>Interrupciones</h5>
            </a>
            <a data-tooltip class="item has-tip tip-top" title="Noticias del Sector" href="noticias.html">
              <img src="images/es-site-app-icon-noticias.png">
              <h5>Noticias</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="es-site-nav-services small-12 columns">
      <div class="row">
        <div class="es-site-nav-service-single small-4 columns">
          <div class="row">
            <div class="small-4 columns">
              <img src="images/es-site-app-icon-puntos-pago.png">
            </div>
            <div class="small-8 columns">
              <h4><a href="">Puntos de pago</a></h4>
              <p>Busca la Oficina Comercial o estafeta más cerca de ti.</p>
            </div>
          </div>
        </div>
        <div class="es-site-nav-service-single small-4 columns">
          <div class="row">
            <div class="small-4 columns">
              <img src="images/es-site-app-icon-horario.png">
            </div>
            <div class="small-8 columns">
              <h4><a href="">Horario de servicio</a></h4>
              <p>Conoce el horario de nuestras oficinas comerciales y estafetas</p>
            </div>
          </div>
        </div>
        <div class="es-site-nav-service-single small-4 columns">
          <div class="row">
            <div class="small-4 columns">
              <img src="images/es-site-app-icon-clima.png">
            </div>
            <div class="small-8 columns">
              <h4><a href="">Estaciones Climáticas</a></h4>
              <p>Enterate del pronóstico del tiempo en el área de concesión.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <footer class="es-site-footer small-12 columns">
      <div class="row">
        <div class="small-2 columns">
          <h4><a href="">Servicios</a></h4>
          <ul class="side-nav">
            <li><a href="ov.html">Oficina Virtual</a></li>
            <li><a href="#">Nuevo Contrato</a></li>
            <li><a href="ov.html">Pago de Factura</a></li>
            <li><a href="#">Puntos de pago</a></li>
            <li><a href="#">Factura por E-mail</a></li>
            <li><a href="#">Denuncias de Fraude</a></li>
          </ul>
        </div>

        <div class="small-2 columns">
          <h4><a href="">Transparencia</a></h4>
          <ul class="side-nav">
            <li><a href="#">Compras</a></li>
            <li><a href="#">Licitaciones</a></li>
            <li><a href="#">En Proceso</a></li>
            <li><a href="#">Adjudicadas</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </div>
        <div class="small-2 columns">
          <h4><a href="">Empresa</a></h4>
          <ul class="side-nav">
            <li><a href="#">Historia</a></li>
            <li><a href="#">Estructura</a></li>
            <li><a href="#">Consejo administrativo</a></li>
            <li><a href="#">Política de privacidad</a></li>
          </ul>
        </div>
        <div class="small-6 columns">

            <form class="es-site-footer-contact-form" action="#" data-abide>

              <div class="row">
                  <div class="es-site-contact-field large-6 columns">
                    <label for="es-site-contact-dropdown-select">¿Que le gustaría decirnos? <small>Requerido</small>
                    <select id="es-site-contact-dropdown-select" class="es-site-contact-dropdown" required>
                      <option value>Selecione un opción</option>
                      <option value="facturacion">Facturación</option>
                      <option value="solicitar-lectura">Solicitar lectura</option>
                      <option value="factura-email">Factura por email&nbsp;</option>
                      <option value="cambio-titular">Cambio de titular</option>
                      <option value="cambio-potencia">Cambio de potencia</option>
                      <option value="oficina-virtual">Oficina Virtual</option>
                      <option value="nuevo-contrato">Nuevo contrato</option>
                      <option value="nuestro-servicio">Nuestro Servicio</option>
                      <option value="fraude">Fraude</option>
                      <option value="reportar-contratista">Reportar contratista</option>
                      <option value="reportar-empleado">Reportar empleado</option>
                      <option value="sugerencias">Sugerencias</option>
                      <option value="sitio-web">Sitio web</option>
                      <option value="otros">Otros</option>
                    </select>
                    </label>
                    <small class="error">Es necesario seleccionar una opción</small>
                  </div>

                  <div class="es-site-contact-field large-6 columns">
                    <label for="es-site-contact-input-email">Su correo electrónico <small>Requerido</small></label>
                      <input id="es-site-contact-input-email" type="email" placeholder="" required pattern="email"/>
                    </label>
                    <small class="error">Correo Electrónico no es valido</small>
                  </div>

              </div>

              <div class="row">
                <div class="es-site-contact-field large-6 columns">
                  <label for="es-site-contact-input-nombre">Nombre <small>Requerido</small></label>
                    <input id="es-site-contact-input-nombre" type="text" placeholder="" required pattern="alpha"/>
                    <small class="error">Nombre no puede ser dejado en blanco</small>
                </div>
                <div class="es-site-contact-field large-6 columns">
                    <label for="es-site-contact-input-apellido">Apellidos <small>Requerido</small></label>
                      <input id="es-site-contact-input-apellido" type="text" placeholder="" required pattern="alpha"/>
                      <small class="error">Apellidos no puede ser dejado en blanco</small>
                  </div>
              </div>

              <div class="es-site-contact-field-account-info row">
                <div class="es-site-contact-field large-6 columns">
                  <label for="es-site-contact-input-cedula">Cédula <small>Requerido</small></label>
                    <input id="es-site-contact-input-cedula" type="number" placeholder=""  pattern="number"/>
                </div>

                <div class="es-site-contact-field large-6 columns">
                  <label for="es-site-contact-input-nic">NIC <small>Requerido</small></label>
                    <input id="es-site-contact-input-nic" type="number" placeholder=""  pattern="number"/>
                </div>
              </div>

              <div class="row">

                <div class="es-site-contact-field large-12 columns">
                  <label for="es-site-contact-textarea">Su Mensaje <small>Requerido</small></label>
                  <textarea id="es-site-contact-textarea" placeholder="" required pattern="alpha_numeric"></textarea>
                  <small class="error">Mensaje no puede ser dejado en blanco</small>
                  <button type="submit" class="es-site-contact-form-submit button right">Enviar</button>
                </div>
              </div>

            </form>

            <div id="es-site-footer-map-canvas" class="es-site-footer-map large-12 columns"></div>

        </div>
      </div>
    </footer>

    <!-- <div class="es-site-top-bar-social icon-bar vertical">
      <a class="item">
        <img src="images/es-site-social-icon-twitter.png">
      </a>
      <a class="item">
        <img src="images/es-site-social-icon-facebook.png">

      </a>
      <a class="item">
        <img src="images/es-site-social-icon-youtube.png">
      </a>
      <a class="item">
        <img src="images/es-site-social-icon-pinterest.png">
      </a>
      <a class="item">
        <img src="images/es-site-social-icon-foursquare.png">
      </a>
    </div> -->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- <script src="bower_components/foundation/js/foundation.min.js"></script> -->
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="js/app.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e919531b032162"></script>
    <script src="js/es.js"></script>
  </body>
</html>
