$es-color-blue: rgb(0, 45, 98);
$es-color-blue-alpha: rgba(0, 45, 98, 0.85);
$es-color-blue-dark-alpha: rgba(7, 12, 23, 0.75);
$es-color-blue-darker-alpha: rgba(7, 12, 23, 0.9);
$es-color-silver: rgb(220, 220, 220); // rgb(240, 240, 240)
$es-color-silver-alpha: rgba($es-color-silver, 0.9);
