.es-site-compra-proceso-filter-buttons {

  @media #{$small-only} {
    padding-bottom: 1rem;
  }
}

ul.es-site-compra-proceso-list {

  p {

    // @media #{$small-only} {
      margin-bottom: 0.75rem;
    // }
  }

  p, li {
    font-size: 0.875rem;  }

  .es-site-compra-proceso-list-single {
    // margin: 1rem 0 0;
    // padding: 0 ;

    .es-site-compra-proceso-list-single-wrapper {
      border: 1px solid silver;
      padding: 1rem 1rem;
    }

    .es-site-compra-proceso-list-single-download-button {
      margin: 0;
    }
  }

  .es-site-compra-proceso-list-single-wrapper-th {
    // padding: 0.5rem;
    @media #{$small-only} {
      padding-right: 0;
    }
  }

  .es-site-compra-proceso-list-single-wrapper-copy {
    h6 { margin-top: 0; }

    .es-site-compra-proceso-list-single-id {
      margin-bottom: 0.5rem;

      @media #{$medium-only} {
        @media #{$portrait} {
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  .es-compra-proceso-type {
    margin: 0px;

    li {
      margin: 0;
      padding: 0;
      padding-right: 0.125rem;
      width: auto;
    }
  }
}

.es_proceso_compra_status_label.button {
  cursor: default;

  &:hover {
    background: $primary-color;
  }
}

.es_proceso_compra_status_label.button.success {

  &:hover {
    background: $success-color;
  }
}

.es_proceso_compra_status_label.button.warning {

  &:hover {
    background: $warning-color;
  }
}

.es_proceso_compra_status_label.button.alert {

  &:hover {
    background: $alert-color;
  }
}

.es-site-compra-proceso-single {

  .es-site-compra-proceso-single-tabs {

    @media #{$small-only} {
      margin-bottom: 1rem !important;
    }

    @media #{$medium-only} {
      margin-top: 1rem;
    }

    .tab-title {

      @media #{$small-only} {
        float: none;
      }
      a.button {

        @media #{$small-only} {
          margin-bottom: 1px;
        }
        @media #{$medium-only} {
          @media #{$portrait} {
            padding: 1rem;
          }
        }
      }

    }

    .tab-title:not(:last-child) a.button {

      @media #{$medium-up} {
        border-right: 2px solid $es-color-silver;
      }
    }

    .tab-title, .accordion-navigation:not(.active) {
      margin-top: 0;



      a.button:not(.es-accordion-content-btn), .es-accordion-nav-btn {
          background: rgb(35,75,120);
          background: rgb(105,125,140);
          color: rgb(200,200,200);

          &:hover {
            background: $es-color-blue;
            color: #fff;
          }
        }

      a.button:hover, .es-accordion-nav-btn:hover {
        // background: scale-color(rgb(35,75,120), $lightness: -35%);

      }
    }

    .tab-title.active a.button, .accordion-navigation.active .es-accordion-nav-btn {
      background: $es-color-blue;
      color: #fff;
    }
  }

  .es-site-compra-proceso-list {

    .es-proceso-compra-file-single {

      .es-proceso-compra-file-single-date {
        margin-bottom: 0;

        @media #{$medium-up} {
          li:not(:first-child) {
            margin-left: 0.25rem;
          }
        }

      }

      .es-proceso-compra-file-single-icon {
        @media #{$medium-only} {
          @media #{$portrait} {
            padding-right: 0;
          }
        }
      }
    }
  }

}

.tabs-content {
  .content.active {
    @include transition-property(height);
    @include transition-duration(0.7s);
    @include transition-timing-function(ease-in);
  }
}

.es-site-compra-proceso-tabs-content {
  margin: 0;

  .content.active { padding: 0; }

  .es-proceso-compra-type-doc {

    .es-proceso-compra-file-single {
      padding-bottom: 0;
    }
  }

  .es-proceso-compra-file-single {

    .button { margin: 0; }
  }
}