// body {
//   padding: 0;
// }

a, .es-site-nav-top {
  @include transition-property(color, border-color);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);


}

#{data('abide')} {
  .error small.error, .error span.error, span.error, small.error {
    line-height: 1.4;
    margin-bottom: 0;
  }

  .button[type=submit] {
    margin-top: 1rem;
  }
}

.es-site-nav-top-wrapper {

  z-index: 100050;

  @media #{$large-up} { padding: 0.5rem 0 0.25rem; }

  @include transition-property(background);
  @include transition-duration(0.7s);
  @include transition-timing-function(ease-in);

    @include background-image(linear-gradient(rgba(#000, 0.5) 30%, rgba(#000, 0.0)));
}

.es-site-nav-top-wrapper .dropdown {
  background: rgba(0, 45, 98, 0.9);
  @include background-image(linear-gradient(rgba(0, 0, 0, 0.4) 5%, rgba(0, 0, 0, 0)));
}

.es-site-nav-top-wrapper-bg, .es-site-nav-top-wrapper-bg .dropdown li {
  // background: rgba(#000, 0.9);
  background: rgba($es-color-blue, 0.9);
  @include background-image(linear-gradient(rgba(#000, 0.4), rgba(#000, 0.0)));
}

.es-site-nav-top-rd-shield {
  background: url("images/es-site-escudo-rd-copy.png") center bottom no-repeat;

  @include background-size(97.5%);

  h6 {
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    height: 28px;
    line-height: 1;
    margin: 0;
  }
}

.es-site-nav-top {

  padding: 0;

  .name {
    margin-left: 0.375rem;

    h1 a {
      background: url('images/es-site-logo-orange-no-text.png') no-repeat;
      background-position: right center;
      text-indent: -1000rem;
      width: 4rem;

      @include background-size(90%);

      @media #{$large-up} {
        background: url('images/es-site-logo.png') no-repeat;
        background-position: center;
        margin-top: -8px;
        width: 130px;

        @include background-size(90%);
      }
    }
  }

  .es-site-nav-search-wrapper.has-form {
    // margin-top: 1rem;
    padding: 0;

  }

  .es-site-nav-search {
    // background: url('images/es-site-escudo-rd-copy.png') left top no-repeat;
    // // margin-top: 1rem;
    // padding: 2rem 0 0 0;

    // @include background-size(100%);

    @media #{$small-only} {
      margin-bottom: 1rem;
      input[type="submit"]{
        top: 0px;
      }
    }
  }

  li.has-dropdown a:after, li:not(.has-form) a:not(.button) {

    // padding-top: 3rem;
    // line-height: 1;
  }


  li:not(.has-form) a:not(.button) {

    @include transition-property(all);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease-in);
  }

  // li:not(.has-form) a:not(.button), li:not(.menu-icon) a {
  //   padding: 0 0.5rem;
  // }

  li:not(.has-form) a:not(.button):hover {
    @include text-shadow(1px 1px 9px rgba($primary-color, 0.5), -1px -1px 9px rgba($primary-color, 0.5));
  }

  // .es-site-nav-top-right li .dropdown li .dropdown {
  //   left: 100%;
  // }

  // .es-site-nav-top-right li .dropdown {
  //   right: auto;
  // }


  .dropdown {
    li label {
      // background: rgba(51,51,51, 0.75);
    }

    .has-dropdown > a {
      padding: 0 0.5rem;
    }


    li {
      &:not(.has-form):not(.active) {

        &:hover > a:not(.button) {
          background-color: $es-color-blue-dark-alpha;
        }
      }
    }
  }

  .dropdown li:not(.has-form) a:not(.button) {
    // border: 1px solid rgba(#fff, 0.8);
    border: 1px solid rgba(#444, 0.5);
    line-height: 45px;
    font-size: 0.875rem;
    padding-top: 0;
  }

  .dropdown li:not(.has-form) a:not(.button) {
  }

  .es-site-nav-search {
    input, .button, button {
      // top: 0px;
    }

    input, .es-site-nav-search-input {
      // width: 0%;

      @include transition-property(width);
      @include transition-duration(0.25s);
      @include transition-timing-function(ease-in);
    }

    input {
      background: rgba(#fff, 0);
      color: rgb(204, 204, 204);

      &:focus {
        background: rgba(#fff, 0.85);
        color: rgba(0, 0, 0, 0.75);
      }

    }

    .button {
      background: $es-color-blue-alpha;
      // background: rgba(#fff, 0);
      border: 1px solid rgb(204, 204, 204);
      border-left: none;
      line-height: 1;
      padding: 2px 0;

      i {
        font-size: 1.5rem;
        line-height: 1;
      }
    }

    .button:hover {
      background: scale-color($es-color-blue-alpha, $lightness: 15%);
    }
  }

  .right li>.addthis_horizontal_follow_toolbox {
    // @media #{$small-up} { padding-left: 1rem; }

    // @media #{$large-up} { padding-left: 0; }

  }

  .addthis_horizontal_follow_toolbox {
    margin: 16px 0;
    p { margin: 0; }
  }

  li:not(.has-form) .addthis_default_style a.at300b,
  li:not(.has-form) .addthis_default_style a.at300bo,
  li:not(.has-form) .addthis_default_style a.at300m {
    padding: 0 2px;
  }

}

.es-site-nav-top.expanded {
  // @media #{$small-only} {
    background: $es-color-blue;
  @include background-image(linear-gradient(rgba(#000, 0.5), rgba(#000, 0.0)));
  // }
}

.es-site-nav-top-wrapper-bg {
  .dropdown li:not(.has-form) a:not(.button) {
    border: 1px solid rgba(#444, 0.5);
  }

  .dropdown {
    // background: $es-color-blue;
  }

  .dropdown li:not(.has-form) {
    background: none;
  }
}


.es-site-section-wrapper {
  padding: 2rem 0;

  h2, h3 {
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;

    a:hover {
      border: none;
    }
  }

h3 {

  @media #{$small-only} {
    font-size: 1.25rem;
  }
}

  // ol:not(.inline-list), ul:not(.inline-list), ul:not(.es-accordion-content-list) {
  //   li { margin: 1rem 0; }
  // }
}

.es-site-section-wrapper {

  h3.es-site-section-wrapper-bg-title {
    margin-bottom: 0;
  }
}

.es-site-section-wrapper-background {
  background: $es-color-silver;
  border-top: 3px solid $primary-color;
  padding: 2rem 1rem;

  .es-site-adobe-reader-download {
    margin-bottom: 1.5rem;
  }
}

.row:not(:last-child) .es-site-section-wrapper-background {
  margin-bottom: 2rem;
}

.es-site-file-container {
  small { line-height: 1; }
}

.es-site-section-consejo-admin {
  ol li { list-style-type: lower-alpha; }

  ol {
    counter-reset: list;
  }
  ol > li {
    list-style: none;
    margin: 1rem 0;
  }
  ol > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
    font-weight: bold;
  }
}

.es-site-empresa-historia-images {
  .th:not(:last-child) { margin-bottom: 1rem; }
}

div.es-site-top-bar-social.vertical {
  background: none;
  height: auto;
  margin-top: 16px;
  position: fixed;
  right: -40px;
  // top: 0px;

  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);


  .item {
    background: $es-color-blue-alpha;
    margin-bottom: 0.5rem;
    padding: 0.25rem;

    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
  }

  .item:hover {
    background: $primary-color;
  }

}

.tooltip {
  .nub {
    border-color: $es-color-blue-alpha;
    // left: auto;
    // right: 5px;
  }
}

.testing {
  background: red;
  width: 20px;
  height: 20px;
  @include transition-property(all);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in);
}

.testing:hover {
  // margin-bottom: 10rem;
  width: 80px;
  height: 80px;
}

.atss-left {
  // @include transition-property(top);
  // @include transition-duration(2s);
  // @include transition-timing-function(ease-in);
}


.mce-content-body.acf_settings {
  font-family: $body-font-family;
}

#es-subsidio-iframe-modal {
  padding: 0;
  width: 300px;
}

.es-site-form-confirmation {

  .button {
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .es-site-form-confirmation-button-ov {
    background: #185E01;
  }

  .es-site-form-confirmation-button-ov:hover {     background: scale-color(#185E01, $lightness: -30%);;   }

  .row:not(:last-child) {
    margin: 0 0 1rem;
  }

   .es-site-form-confirmation-button-cc {
    background: $es-color-blue;
  }

  .es-site-form-confirmation-button-cc:hover {     background: scale-color($es-color-blue, $lightness: -30%);   }

  .row:not(:last-child) {
    margin: 0 0 1rem;
  }

  [class^=small-block-grid-] {

    .button { padding: 0.80rem 0.25rem; }
    img {
      width: 75%;
      height: 75%;
    }
  }
}

.es-site-comercial-nuevo-servicio {

  .progress {
        background: rgba(202, 202, 202, 1);
        border-color: rgba(156, 156, 156, 0.4);
  }
 .button-group.radius.stack-for-small > * {
    @media #{$medium-up} { margin: 0; }
 }
}

.es-site-comercial-contratacion-express {

  .es-site-contratacion-express-tagline {
    background: $es-color-blue;
    margin-bottom: 1rem;
    padding: 3rem 2rem;
    h2 {
      color: #fff;
      margin-top: 2rem;
    }

    @media #{$large-up} { margin-bottom: 0; }
  }

  .es-site-contratacion-express-tagline.large-offset-1 {

    @media #{$large-up} { margin-left: 5.33333% !important; }
  }
}

