.es-site-faqs {

  .es-site-faqs-tabs { margin-bottom: -2px !important; }

  .es-site-faqs-tabs-single a {
    // background: rgb(239, 239, 239) url(images/es-icon-faqs-telemedida.svg) 5px center no-repeat;
    background-color: rgb(239, 239, 239);
    background-position: 5px center;
    background-repeat: no-repeat;
    border: 1px solid silver;
    padding-left: 50px;

    @include background-size(auto 75%);

    @media #{$small-only} {
      background-position: center 8px;
      font-size: 0.75rem;
      padding: 3.5rem 0.5rem 1rem;
      @include background-size(auto 50%);
    }
  }

  .es-site-faqs-tabs-single.active a { border-bottom: none; }

  .es-site-faqs-tabs-general a {
    background-image: url("images/es-icon-faqs-general.svg");
  }

  .es-faqs-content-telemedida-intro {
    background: $accordion-content-active-bg-color;
  }

  .es-site-faqs-tabs-telemedida a {
    background-image: url("images/es-icon-faqs-telemedida.svg");
  }

  .es-site-faqs-tabs-glosario a {
    background-image: url("images/es-icon-faqs-glosario.svg");
  }

  .es-site-faqs-tabs-servicio-prepago a {
    background-image: url("images/es-icon-faqs-prepago.svg");
  }

  .es-site-faqs-tabs-medicion-neta a {
    background-image: url("images/es-icon-faqs-medicion-neta.svg");
  }

  .es-site-faqs-tabs-content {
    border: 1px solid silver;
  }

  .accordion-navigation.active {
    a {
       color: $white;
    }
  }
}