.es-site-footer {
  background: $es-color-silver;
  padding: 2rem 1rem;

  h3, h4, h4 a, h5 { color: $charcoal /* rgb(0, 45, 98) */; }

  li { color: /* rgb(77, 77, 77) */ $jumbo; font-size: 0.875rem; }

  .side-nav li a:not(.button) {
    padding: 0.4375rem 0.25rem;
  }

  .es-site-footer-contact-form {

    label { font-weight: normal;}

    textarea {
      height: 10rem;
    }

    // .es-site-contact-dropdown {
    //   background-color: rgba(0, 0, 0, 0);
    //   border: 1px solid #FFF;
    //   color: #fff;
    //   margin: 0;

    //   option.es-site-contact-dropdown-option, li {
    //     border-bottom: 1px solid #fff;
    //     color: #fff;
    //     font-size: 1rem;
    //     line-height: 2;
    //   }

    // }

    .es-site-contact-field-box, .es-site-contact-textarea-box {

      .es-site-contact-field {
        // padding: 0;
      }
    }

  }

  .es-site-footer-address {
    h5 { margin-top: 0 }

    li:not(:first-child) h5 { margin-top: 1rem; }
    // li[itemprop="telephone"] h5 { margin-top: 1rem; }

    .es-site-nav-addthis p { margin: 0; }

    .es-site-nav-addthis .addthis_toolbox {
      a:first-child { padding-left: 0; }
    }

  }

  .es-site-footer-nav {

    padding-top: 4rem;

    @media #{$medium-up} {

      background: url("images/es-site-footer-nav-escudo-rd.png") center 2rem no-repeat;

      @include background-size(95%);
      padding-top: 8rem;
    }

    @media #{$large-up} {

      background-position: center 3rem;

      @include background-size(95%);
      padding-top: 13rem;
    }

    li[data-equalizer-watch] {
      padding-bottom: 0;
    }

    li[data-equalizer-watch]:not(:last-child) {

      @media #{$medium-up} {
        border-right: 1px solid $base;
      }
    }

    .side-nav {
      padding-top: 0;
    }

    .side-nav li  {
      margin: 0 0 0.25rem 0;
    }

    .side-nav li a:not(.button) {
      color: $jumbo;
      padding: 0;
    }
  }

  .es-site-footer-copyright {

    margin-top: 3rem;

    @media #{$medium-up} {
      margin-top: 6rem;
    }

    h2 {
      background: url("images/es-site-footer-copyright-escudo-rd.png") center top no-repeat;
      color: transparent;
      font-size: 2.0625rem;
      line-height: 1;
      margin: 0;

      @media #{$medium-up} {
        font-size: 4.25rem;
      }
    }

    li {
      font-size: 0.875rem;
    }

    .es-site-footer-address {
      @media #{$small-only} {
        padding: 0;
      }
    }
  }
}

.es-modal-promotions-banner {
  padding-top: 4rem;

  .es-modal-promotions-button {
    color: red;
    margin-top: 2rem;
  }
}

.es-modal-promotions-video {
  margin-top: 1rem;
}