.es-site-section-interrupciones {
  h3,h4,h5,li,p {
    color: #fff;
  }

  img { width: 100%; }
  .es-site-section-wrapper-background {
    padding-top: 0;

    .es-site-section-interrupciones-heading {

      h2{
        color: $es-color-blue;
        font-weight: 600;
        line-height: 1.2;
        margin: 0.5rem 0;
        padding: 0;

        span {
          color: $primary-color;
          text-transform: uppercase;
        }
      }
    }

    .es-site-section-interrupciones-schedule {
      background: $es-color-blue;
      padding-top: 1rem;

      h3 {
        font-weight: 600;
        line-height: 1;
        margin-bottom: 0.25rem;
        margin-left: -1rem;
        padding: 0.5rem 1rem 0.625rem;

        @include background-image(linear-gradient(to right, $primary-color 35%, rgba(0, 45, 98, 0.5) 75%));

         @media #{$large-up} {
          margin-left: -3.9375rem;

          padding-left: 3.9375rem;


          @include background-image(linear-gradient(to right, $primary-color 25%, rgba(0, 45, 98, 0.5) 50%));
         }
      }

      @media #{$large-up} {
        p, h5 {
          font-size: 1.25rem;
        }
      }

      .es-site-section-interrupciones-time {
        color: $primary-color;
      }
    }
  }
}