
.es-site-masthead, .es-site-masthead-modal {
  h2, h3, h4, h5, p, ul, label, .subheader, blockquote {
    color: #fff;
  }
}

.es-site-masthead.es-site-masthead-home {

  h1 {

    a {
          background: url("images/es-site-logo.png") no-repeat;
          background-position: center;
          display: block;
          margin: 0 auto;
          text-indent: -1000rem;
          width: 130px;

          @include background-size(100%);
      }
  }

  @media #{$large-up} {
    .es-site-masthead-title {

      margin: 3rem auto;
    }
  }

  @media #{$xlarge-up} {
    .es-site-masthead-title {

      margin: 14rem auto 1rem;

      h2 { margin: 0 0 1.5rem; }
      h3.subheader { margin-bottom: 1.5rem; }
    }
  }
}

.es-site-masthead {
  background: url('images/es-site-home-masthead-bg-med.jpg') fixed center top no-repeat;
  @include background-size(cover);

  @media #{$xlarge-up} {
    background: url('images/es-site-home-masthead-bg.jpg') fixed center top no-repeat;
    @include background-size(cover);
  }

  @media #{$xxlarge-up} {
    background: url('images/es-site-home-masthead-bg-xl.jpg') fixed center top no-repeat;
    @include background-size(cover);
  }
  padding: 6rem 0 0;

  h2, h3, h4, li, legend, .subheader {
    @include text-shadow(rgba(#050505, 0.65) 4px 4px 4px);
  }

  h2 {
    font-size: 1.5rem;

    @media #{$large-up} {
      font-size: 2.5rem;
    }
  }

  h2, .subheader {
    // background: rgba(#050505, 0.25);
  }

  input:not(.button), textarea {
    background: rgba(255, 255, 255, 0.65);
  }

  select { color: $es-color-blue-alpha; }

  select, option, option[value] {
    background-color: rgba(255, 255, 255, 0.65);
  }

  input[type="number"] { width: 100%; }

  ::-webkit-input-placeholder {
     color: $es-color-blue-alpha;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $es-color-blue-alpha;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $es-color-blue-alpha;
  }

  :-ms-input-placeholder {
     color: $es-color-blue-alpha;
  }

  .subheader {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    padding-bottom: 0.5rem;

    @media #{$large-up} {
      font-size: 2rem;
    }
  }

  .has-tip {
    border: none;
  }
  // .es-site-home-masthead-title { margin-bottom: 1rem; }

  .es-site-masthead-title {

    margin-bottom: 1rem;

    h2 { margin: 0; }
  }

  .es-site-masthead-cta {
    background: rgba($es-color-blue, 0.9);
    @include box-shadow($es-color-blue-darker-alpha 3px 3px 3px);

    &:hover { background: rgba(227, 106, 10, 0.9); }
  }

  .es-site-masthead-title.es-site-masthead-title-article {

    margin: 2rem 0;

    @media #{$medium-up} {
      margin: 4rem 0;
    }
  }

  .es-site-home-masthead-text { margin-bottom: 2rem; }

  .es-site-masthead-form, .es-site-masthead-details {
    background: $es-color-blue-darker-alpha;
  }

  .es-site-masthead-form {
    // background: $es-color-silver-alpha;
    margin-bottom: 2rem;
    padding: 1rem 1rem 0;

    h2, h3, h4, h5, p, ul, label, .subheader {
      // color: $body-font-color;
    }

    h3, legend { @include text-shadow(rgba(5, 5, 5, 0.65) 1px 1px 2px); }

    fieldset {
      border: none;
      margin: 0;

      legend {
        background: none;
        color: #fff;
        font-size: 1.125rem;
        margin: 0 0 1rem;
      }

      .has-tip {
        // color: #fff;
        font-weight: normal;
      }

      .error .has-tip { color: #f04124; }
    }

    select {
      padding: 0.4375rem;
    }

    // .es-site-mercadeo-prende-bombillo {
    //   background: url('images/es-site-mercadeo-prende-bombillo-logo.jpg') center top no-repeat;
    //   @include background-size(100%);
    //   opacity: 0.5;
    // }

    .es-site-masthead-form-fraude select,
    .es-site-mercadeo-prende-bombillo select { margin-bottom: 0; }

    .es-site-mercadeo-prende-bombillo .button {margin-top: 1rem;}

    .es-site-mercadeo-prende-bombillo .button:not(.ninja-forms-mp-nav)[type=submit] {margin: 1.5625rem 0 0;}

    .es-site-mercadeo-prende-bombillo-prize { color: $primary-color; }

    .es-site-mercadeo-prende-bombillo-info {
      background: url('images/es-site-mercadeo-prende-bombillo-bg-flare.jpg') fixed center top no-repeat;
      margin-bottom: 3rem;
      @include background-size(cover);

      h2 span{
        background: url("images/es-site-mercadeo-prende-bombillo-logo-text.png") no-repeat;
        background-position: center;
        color: transparent;
        display: block;
        margin: 2rem auto 1rem;
        width: 300px;

        -moz-background-size: 75%;
        -o-background-size: 75%;
        -webkit-background-size: 75%;
        background-size: 75%;

        @include text-shadow(none);
      }

      p { margin-top: 2rem; }

      .button {
        font-family: $header-font-family;
        font-size: 1.5rem;
        margin: 2rem auto;
      }
    }

    .es-site-mercadeo-prende-bombillo {

      .es-site-mercadeo-prende-bombillo-sidebar {
        p {
          font-size: 0.875rem;
          margin-top: 1rem;
        }
      }

      h4 {color: $primary-color; }
      fieldset { padding: 0; }

      p.label {
        background: none;
        margin-bottom: 0.125rem;
        text-align: left;
        text-shadow: none;
        white-space: normal;

        label {
          color: #fff;
          font-size: 0.875rem;
          font-weight: normal;
          text-align: left;
        }
      }

      fieldset {
        div.field { margin-bottom: 1rem; }
      }

      .ninja-forms-mp-breadcrumbs.button-group li {margin: 0;}
      .ninja-forms-mp-breadcrumbs.button-group.stack-for-small li {


        @media #{$small-only} {
          float: none;
          width: 100%;
        }

        .button { margin: 0; }
      }
      .ninja-forms-mp-breadcrumb-active {
        // background: $button-bg-hover;
        background: $info-button-bg-hover;
        // color: $primary-color;
      }

      .progress {
        background: rgba(#F6F6F6, 0.1);
        border-color: rgba(#fff, 0.1);
      }

      span.meter {
        background: rgba($es-color-blue, 0.8);
        @include transition-property(all);
        @include transition-duration(0.5s);
        @include transition-timing-function(ease-in);
      }

      .ninja-forms-error {
        label { color: red; }
      }

      .ninja-forms-field-error {
        background: $alert-color;
        color: #fff;
        margin: -16px 0 0 0;
        font-size: 12px;
        line-height: 1.4;
        padding: 0 0 0 0.25rem;
      }

      .acf-file-uploader {
        .button.add-file {
          margin-left: 1rem;
          @media #{$small-only} {
            margin-left: 0;
          }
        }
      }

      .es-site-prende-bombillo-lider-heading {
        @include transition-property(all);
        @include transition-duration(2s);
        @include transition-timing-function(ease-in);
      }

      .ninja-forms-field-description p {
        color: #666;
        font-size: 0.75rem;
      }
    }

    .alert-box.info .close { color: #aaa; }

    .es-site-masthead-form-login {
      legend { font-size: 1.5rem; }
    }

    .es-site-masthead-form-title {
      margin-bottom: 1rem;

      .es-site-masthead-form-progress {
        .progress, { margin: 0; }
      }

      .es-site-masthead-form-progress-step {
        p {
          font-size: 0.75rem;
          line-height: 1.5625rem;
          margin: 0;
        }
      }
    }

    h1, h3 {
      color: $primary-color;
      // font-size: 1.5rem;
    }

    .es-site-admin-office {
      blockquote p {
        font-size: 1.0625rem;
      }
    }
  }

  .es-site-masthead-form-title-alert {
    margin: 0;
    padding: 0 0.875rem;
    height: 1.5625rem;
    line-height: 1.4rem;

    .close { padding: 11px 6px 2px; }
  }

  .es-site-masthead-form-fraude {
    textarea { height: 10rem; }
  }

  .es-site-nav-bar-app-wrapper {
    background: $es-color-blue-dark-alpha;
    padding: 0;
  }

  .es-site-nav-bar-app {
    background: rgba(#000, 0);
    margin: 0;
    padding: 0;
  }

  .es-site-nav-bar-app > * {
      padding: 0;

      a {
        display: block;
        padding: 1rem 0;

        @media #{$large-up} {
          padding: 1rem 0;
        }
      }

      img {
        width: 3rem;
        height: 3rem;
        opacity: 0.75;

        @media #{$small-only} {
          // padding: 0.25rem;
        }

      }

      h5 {
        font-size: 0.75rem;
        line-height: 1.4;
        margin-bottom: 0;

        @media #{$large-up} {
          font-size: 1rem;
          line-height: 1;
        }
      }
  }

  .es-site-nav-bar-app > *:hover {
    background: none;

    h5 {
      color: $primary-color;
    }
  }

  .es-site-nav-services {
    background: $es-color-blue-alpha;
  }
}

.es-site-masthead-modal {
  background: $es-color-blue-darker-alpha;

  .es-site-masthead-modal-agreement {
    background: rgba(255,255,255, 0.95);
    height: 30rem;
    overflow: auto;
    padding: 2rem 1rem;

    p {
      color: #222;
    }
  }

  .es-site-masthead-modal-button-agreement {
    margin-top: 2rem;
  }
}

.es-site-nav-services {
  background: $es-color-blue;
  padding: 1rem;
  text-align: center;

  @media #{$large-up} {
    padding: 2rem 1rem;
    text-align: left;
  }


  h4, h4 a, p {
    color: #fff;
  }

  h4, h4 a {
    font-size: 0.75rem;
    font-weight: normal;

    @media #{$large-up} {
      font-size: 1.25rem;
      font-weight: bold;
    }

    @include text-shadow(rgba(#050505, 0.65) 3px 3px 4px);
  }

  .es-site-nav-service-single {
    padding-bottom: 0;
  }

  .es-site-nav-service-single:not(:last-child) {
    border-right: 1px solid rgba(255,255,255, 0.5);
  }
}

.es-site-masthead-home-temp { height: 100%; }

.es-site-comercial-actualizacion-datos-form {
  .g-recaptcha {

    @media #{$small-only} {
      transform:scale(0.947);-webkit-transform:scale(0.947);transform-origin:0 0;-webkit-transform-origin:0 0;
    }
  }

  fieldset {padding: 0;}
  .list-checkbox-wrap.label-above {
    // margin-bottom: 10px;
  }

  #ninja_forms_field_158_div_wrap {
    @include transition-property(background);
    @include transition-duration(0.7s);
    @include transition-timing-function(ease-in);
  }

  .list-radio-wrap.label-above {
    // margin-bottom: 14px;
    // input[type=radio] {
    //   @media #{$medium-up} {
    //     margin-bottom: 0;
    //   }
    // }
  }

  @media #{$large-up} {
    input[type=submit] {
      margin: 50px 0 0 0;
    }
  }

  .es-site-actualizacion-radio-wrap {
    li {

      @media #{$medium-up} {
        // float: left;
      }
    }
  }


}

