@import "settings";
@import "foundation";
@import "compass";

body.login div#login h1 a {
  background: url('images/es-site-logo.png') no-repeat;
  margin-bottom: 0;
  padding-bottom: 30px;
  width: 194px;
  background-size: 100%;
}

body.login {
  background: url('images/es-site-home-masthead-bg-med.jpg') fixed center top no-repeat;
  @include background-size(cover);

  @media #{$xlarge-up} {
    background: url('images/es-site-home-masthead-bg.jpg') fixed center top no-repeat;
    @include background-size(cover);
  }

  @media #{$xxlarge-up} {
    background: url('images/es-site-home-masthead-bg-xl.jpg') fixed center top no-repeat;
    @include background-size(cover);
  }

  div#login form#loginform, div#login h1, p#nav, p#backtoblog, p.message, #login_error {
    background: rgba(0, 45, 98, 0.9);
  }

  div#login h1 { padding-top: 1rem;}

  div#login form#loginform {
    margin-top: 0;
    padding-bottom: 1.5rem;

    input#wp-submit.button-primary {
      background: $primary-color;
      border-color: scale-color($primary-color, $lightness: $button-function-factor);
      &:hover {

      background: scale-color($primary-color, $lightness: $button-function-factor);
      }
    }
  }

  p#nav, p#backtoblog{
    margin-top: 0;
    padding-bottom: 1rem;

    a { color: #fff; }
  }

  // p#backtoblog { margin}

  div#login label, p.message, #login_error { color: #fff; }

  #login_error strong {
    color: $primary-color;
  }

  p.message, #login_error {
    border-color: $primary-color;
  }

  div#login input[type=checkbox] { margin: -4px 4px 0 0; }

}